In [ ]:
#Answer_1

A database is a collection of data that is organized, which is also called structured data. It 
can be accessed or stored in a computer system.
You can organize data into tables, rows, columns, and index it to make it easier to find relevant information.

basically it is two type
1.sql
2.Nosql

                  SQL                                                                           	NoSQL
RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS)                             Non-relational or distributed database system.

These databases have fixed or static or predefined schema	              They have dynamic schema

These databases are not suited for hierarchical data storage.	          These databases are best suited for hierarchical data storage.

These databases are best suited for complex queries                       These databases are not so good for complex queries

Vertically Scalable                                                       Horizontally scalable

Follows ACID property	                                                  Follows CAP(consistency, availability, partition tolerance)

Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc                   Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc

In [ ]:
#Answer_2

A data definition language (DDL) is a computer language used to create and modify the structure
of database objects in a database. These database objects include views, schemas, tables, indexes, etc.

DDL commands are used for altering the database structure such as creating new tables or objects along with all their attributes (data type, table name, etc.).
Commonly used DDL in SQL querying are CREATE, ALTER, DROP, and TRUNCATE.



CREATE

1.create database
2.create table

syntax for create data base:
    CREATE DATABASE dbname;          \\ dbname is the name of the data base and create database are the keyword that are written in upper case
    
syntax for create table:
CREATE TABLE [table name] ([column definitions]) [table parameters];

For example:  
    CREATE TABLE student(name varchar(30),roll_no INT,class INT,phone_no INT);
    
    
DROP

1.delete the database #if we use this command it delete the data forever and we can not recover this data
2.delete the table    

syntax for delete the database:
    DROP DATABASE dbname;             #dbname is the name of the database
    
syntax for delete the table:
    DROP TABLE student;
    

ALTER

this is used to modify the structure of the database or table
1.add new column to a table

#syntax for add new column to a table:
    ALTER TABLE table_name ADD new_column_name data type(size) AFTER column_name;
    
2.rename the columns to a table 

#syntax for rename the column to a table :
    RENAME TABLE old_table_name TO new_table_name;
    
3.change the data type or size of the columns

#syntax for the change the data type of the column:
      ALTER TABLE table_name CHANGE old_name  new_name  data type(size)
     
4.delete a columns in a table

#syntax for delete the column to a table:
    ALTER TABLE table_name DROP column_name;
    
TRUNCATE

this command is used to delete the data without affecting the structure of table

#syntax for delete the data without affecting the table structure 
     TRUNCATE TABLE table_name;

In [ ]:
#Answer_3

A DML stands for data manipulation language.
data manipulation language is a computer programming language ,basically it is a 
component of SQL which is used to  add ,delete and modify the data in database.

Different command in DML 

1.SEARCH(it is used to retrieve or view the data in table )

#syntax for search the data in table 
     SEARCH * FROM table_name   #this retrieve the all the data present in table 

2.INSERT 
  (this command is used to add new record or a rows in table )
    
#syntax for this command:
    INSERT INTO table_name  values(value1 , value2 , ....)    # notice that we remember that the order of the column 

    
3.UPDATE
   (this is used to update and modify the data in table )
    
#syntax for this command
      UPDATE table_name SET column1=value1 , column2=value2 .... WHERE CONDITION ;      #here condition are neccessary to given


4.DELETE 
  (this command is used to delete the data in table)
    
#syntax for this command :
    DELETE FROM table_name WHERE CONDITION;     
    
**IF WE NOT GIVE THE CONDITION SO IT WILL BE DELETE ALL THE DATA PRESENT IN THE TABLE

In [ ]:
#Answer_4

DQL stands for data query language .
data query language is a computer language that is used to perform the queries on the 
data within database object .
it is used to rerive the data or information in a database table .

SELECT COMMAND

1.rerieve the data 
2.view the data from the table 
3.get the data from the table 

#syntax for this command :

1. SELECT * FROM table_name;
2. SELECT column1,column2 .... FROM table_name ;

#now condition will be satisfied that we use WHERE 
1. SELECT * FROM table_name WHERE CONDITION;
2. SELECT column1, column2 ... FROM table_name WHERE CONDITION; 

#IF CONDITION IS SATISFIED THAN DATA WILL BE RERIVE OR VEIW

In [ ]:
#Answer_5

primary key 

primary key = unique value + Not null 

primary key uniquely identifies in a each record in table 
primary key must be contain unique value , it not contain null values.

A table can have only one primary key .


foregins key 

this key is used to link two table together.it is also called a referencing key.
it refer to primary key of another table 

the table with the foreign key is called child table and the table with primary key is called parent table.

In [ ]:

#Answer_6

import mysql.connector 

mydb = mysql.connector.connect(
     
    host = 'localhost',
    
    user = 'abc',
    
    password = 'password'
 )

print(mydb)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE demo_database")
mydb.close()


A cursor is an object which helps to execute the query and fetch the records from the database. The cursor
plays a very important role in executing the query.

The execute () method helps us to execute the query and return records according to the query.

In [ ]:
#Answer_7


The order in which the clauses in queries are executed is as follows:

1. FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.

2. WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.

3. GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.

4. HAVING: The HAVING clause is executed to remove the created grouped records that don’t meet the constraints.

5. SELECT: The SELECT clause is executed to derive all desired columns and expressions.

6. ORDER BY: The ORDER BY clause is executed to sort the derived values in ascending or descending order.

7. LIMIT/OFFSET: Finally, the LIMIT and/or OFFSET clauses are executed to keep or skip a specified number of rows.